{% extends 'layout.html' %}

{% block content %}
<h1>Select KeyWord </h1>
<fieldset>
    <legend>KeyWord List</legend>
    <table>
        <thead>
        <tr>
            <th>KeyWord</th>
            <th>Selector</th>
        </tr>
        </thead>
        <tbody>
        {% for keyword in keywords %}
        <tr data-id="{{keyword._id}}">
            <td>{{keyword.title}}</td>
            <td>{{keyword.selector}}</td>
            <td>
                <form action="/delete" method="post">
                   <button type="submit"
                           name="{{keyword.title}}"
                   >Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="error-message">{{error}}</div>
    <a href="/create">Create KeyWord</a>
    <form action="/reset" method="post">
        <button type="submit">Reset</button>
    </form>

</fieldset>
<script>
    function dropBtnEvent(e) { // drop 클릭 시

    }

    document.querySelectorAll('.select-btn').forEach(function (btn) {
    btn.addEventListener('click', selectBtnEvent);
    });
</script>

{% endblock %}

{% block script %}
<script>
    window.onload = () => {
        if (new URL(location.href).searchParams.get('error')) {
            alert(new URL(location.href).searchParams.get('error'));
        }
    };
</script>
{% endblock %}