{% extends 'layout.html' %}

{% block content %}
<h1>Select KeyWord </h1>
<fieldset>
    <legend>KeyWord List</legend>
    <table>
        <thead>
        <tr>
            <th>KeyWord</th>
            <th>Selector</th>
        </tr>
        </thead>
        <tbody>
        {% for keyword in keywords %}
        <tr data-id="{{keyword.title}}">
            <td>{{keyword.title}}</td>
            <td>{{keyword.selector}}</td>
            <td>
                <button
                        id="select"
                        data-selector="{{keyword.selector}}"
                        data-title="{{keyword.title}}"
                        class="select-btn"
                >Select
                </button>
            </td>
            <td>
                <button
                        id="drop"
                        data-selector="{{keyword.selector}}"
                        data-title="{{keyword.title}}"
                        class="drop-btn"
                >Drop
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="error-message">{{error}}</div>
</fieldset>
<script>

    document.querySelectorAll('.select-btn').forEach(function (btn) {
        if(btn.dataset.selector){
            console.log(btn.dataset.selector);
            btn.disabled = true;
        }else{
            btn.disabled = false;
        }
    });

    document.querySelectorAll('.drop-btn').forEach(function (btn) {
        if(btn.dataset.selector){
            console.log(btn.dataset.selector);
            btn.disabled = false;
        }else{
            btn.disabled = true;
        }
    });

</script>

<script>

    function selectBtnEvent(e) { // select 클릭 시 root -> select로 페이지 변경
        location.href = '/select/' + e.target.dataset.title;
    }
    function dropBtnEvent(e) { // drop 클릭 시 root -> drop로 페이지 변경
        location.href = '/drop/' + e.target.dataset.title;
    }

    document.querySelectorAll('.select-btn').forEach(function (btn) {
        btn.addEventListener('click', selectBtnEvent);
    });

    document.querySelectorAll('.drop-btn').forEach(function (btn) {
        btn.addEventListener('click', dropBtnEvent);
    });
</script>
{% endblock %}

{% block script %}
<script>
    window.onload = () => {
        if (new URL(location.href).searchParams.get('error')) {
            alert(new URL(location.href).searchParams.get('error'));
        }
    };
</script>
{% endblock %}